torch==1.13.1
torchvision==0.12.0
numpy~=1.24.4
tqdm~=4.66.1
tensorboard~=2.14.0
matplotlib~=3.7.3
pandas~=2.0.3

speechbrain~=0.5.12
datasets~=2.14.6
torch_audiomentations
wandb~=0.15.12
torchaudio~=0.11.0

librosa~=0.10.1
soundfile~=0.12.1
pyloudnorm~=0.1.1
torchmetrics~=1.2.0